{{#link-to 'games.show' _id}}
<div class="border">
	<div class="row">
		<div class="col-md-3">
			name: <h3>{{name}}</h3>
			Players:  {{playersCount}}/{{maxPlayers}}
		</div>
		<div class="col-md-4">
			<FONT {{bind-attr color="statusColor"}}><h3><b>{{statusMsg}}</b></h3></FONT>
			{{#if history.currentRound}} Round: <b>{{history.currentRound}} </b> <br> {{/if}}
			<br>
			TurnProgressStyle: {{turnProgressStyle}} <br>
			{{#if isAutoProgress}}
				TurnTimeLimit: {{turnTimeLimit}} seconds<br>
				{{#if isGameStatusInProgress}} NextTurnTime: {{nextTurnTime}} {{/if}}
			{{/if}}
		</div>
		<div class="col-md-4">
			RuleBundle: <b>{{ruleBundle.name}}</b> 
			<img {{bind-attr src=ruleBundleIconFile}}> <br>
			RuleBundle GameSettings: <br>
				{{jsonToString ruleBundleGameSettings}}
		</div>
	</div>
</div>
{{/link-to}}
<br>
