<!-- <center>{{#link-to 'games'}}Back to All Games{{/link-to}}</center> <br> -->
<div class="game-show">
	<table cellSpacing=2 border=2>
		<tr>
			<td> game name: <h3>{{model.name}}</h3> </td>
			<td>
				ID: {{model._id}} <br>
				RuleBundle: <b>{{model.ruleBundle.name}}</b> <br>
				GameStatus: <FONT {{bind-attr color="model.statusColor"}}><b>{{model.statusMsg}}</b></FONT>
			</td>
		</tr>
		<tr>
			<td>
				{{#if canPlayGame}}
					<a {{bind-attr href="playGameUrl" enabled="canPlayGame"}} target="_blank"> Play Game </a>
				{{/if}}
			</td>
			<td>
				{{#if canJoinGame}}
					<button {{action 'joinGame' model._id}}>Join Game</button>
				{{else}}
					{{#if model.isGameStatusOpen}}{{#unless loggedInUserId}}
						<h4><b>Login to Join Game</b></h4>
					{{/unless}}{{/if}}
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Round: {{model.history.currentRound}}</td>
			<td>
				Debug: <a {{bind-attr href="model.boardViewUrl"}} target="_blank"> Board View </a> <br>
				RuleBundle GameSettings: <br>
				{{jsonToString model.ruleBundleGameSettings}}
    		</td>
		</tr>
		<tr>
			<td>TurnProgressStyle: {{model.turnProgressStyle}} </td>
			<td>
				TurnTimeLimit: {{model.turnTimeLimit}} seconds<br>
				NextTurnTime: {{model.nextTurnTime}}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				{{#each player in model.playersArray}}
					{{player.relId}}). {{player.username}} : {{player.status}} <br>
				{{/each}}
			</td>
		</tr>
	</table>
</div>

<!--
<div class="border">

board preview - NYI

</div>
-->
