<div class="border">
	<table cellSpacing=2 border=2>
		<tr>
			<td> name: {{name}} </td>
			<td> ID: {{_id}} </td>
		</tr>
		<tr>
			<td> Round: {{history.currentRound}}</td>
			<td> 
				RuleBundle GameSettings: <br>
				{{jsonToString ruleBundleGameSettings}}
    		</td>
		</tr>
		<tr>
			<td>TurnProgressStyle: {{turnProgressStyle}} </td>
			<td>
				TurnTimeLimit: {{turnTimeLimit}}<br>
				NextTurnTime: {{nextTurnTime}}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				playerList
			</td>
		</tr>
	</table>
</div>
<br>
