{{#link-to 'games'}}Back to All Games{{/link-to}} <br>
<div class="border">
	<table cellSpacing=2 border=2>
		<tr>
			<td> name: <h3>{{name}}</h3> </td>
			<td> 
				ID: {{_id}} <br>
				RuleBundle: <b>{{ruleBundle.name}}</b> <br>
				GameStatus: <FONT {{bind-attr color="statusColor"}}><b>{{statusMsg}}</b></FONT>
			</td>
		</tr>
		<tr>
			<td> <a {{bind-attr href="playGameUrl" enabled="canPlayGame"}} target="_blank"> Play Game </a> </td>
			<td> 
				{{#if canJoinGame}}
					<button {{action 'joinGame' _id}}>Join Game</button>
				{{/if}}
			</td>
		</tr>
		<tr>
			<td> Round: {{history.currentRound}}</td>
			<td> 
				Debug: <a {{bind-attr href="boardViewUrl"}} target="_blank"> Board View </a> <br>
				RuleBundle GameSettings: <br>
				{{jsonToString ruleBundleGameSettings}}
    		</td>
		</tr>
		<tr>
			<td>TurnProgressStyle: {{turnProgressStyle}} </td>
			<td>
				TurnTimeLimit: {{turnTimeLimit}} seconds<br>
				NextTurnTime: {{nextTurnTime}}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				{{#each player in playersArray}}
					{{player.relId}}). {{player.username}} : {{player.status}} <br>
				{{/each}}
			</td>
		</tr>
	</table>
</div>

<div class="border">

board preview

</div>